<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 2em;">
  <a class="navbar-brand" href="#">Ecom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br> <br>
<h5 style="text-align: center;">Home page</h5> <br>
<mdb-carousel [isControls]="true" [interval]="900" [animation]="'slide'">
  <mdb-carousel-item>
    <img src="../../assets/images/slide1.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="../../assets/images/slide2.jpeg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../assets/images/slide3.jpg" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="../../assets/images/slide4.jpg" alt="Second slide">
  </mdb-carousel-item>
</mdb-carousel>

<br> <br> <br> <br> <br>

<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <img src="../../assets/images/after_slide_1.png">
    </div>
    <div class="col-lg-2">
      <img src="../../assets/images/after_slide_2.png">
    </div>
    <div class="col-lg-2">
      <img src="../../assets/images/after_slide_3.png">
    </div>
    <div class="col-lg-2">
      <img src="../../assets/images/after_slide_4.png">
    </div>
    <div class="col-lg-2">
      <img src="../../assets/images/after_slide_5.png">
    </div>
    <div class="col-lg-2">
      <img src="../../assets/images/after_slide_6.png">
    </div>

  </div>

</div>

<br> <br> <br>

<div class="row card-deck">
  <div class="card" style="margin-left: 2em;">
    <img class="card-img-top" src="../../assets/images/watch1.jpg">
    <div class="card-body">
      <h3 class="card-title">Fossil1</h3>
      <button class="btn btn-primary">View more</button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../assets/images/watch2.jpg">
    <div class="card-body">
      <h3 class="card-title">Fossil2</h3>
      <button class="btn btn-primary">View more</button>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="../../assets/images/watch3.jpg">
    <div class="card-body">
      <h3 class="card-title">Fossil3</h3>
      <button class="btn btn-primary">View more</button>
    </div>
  </div>

  <div class="card" style="margin-right: 2em;">
    <img class="card-img-top" src="../../assets/images/watch4.jpg">
    <div class="card-body">
      <h3 class="card-title">Fossil4</h3>
      <button class="btn btn-primary">View more</button>
    </div>
  </div>
</div>
<br> <br> <br> <br> <br> <br>

<!-- footer de la homePage -->

<footer class="page-footer font-small white">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/angular/"> MDBootstrap.com</a>
    <span>
      <i class="fab fa-google-plus"></i>
    </span>
  </div>
  <!-- Copyright -->

</footer>
